{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 class="center">Make a Post</h1>

<form method="POST">
    <input name="title" id="title" class="form-control" type="text" placeholder="Title"></textarea>
    <label for="category">Choose a dog category:</label> 
    <select name="category" id="category"> 
        <option value="home">Home</option> 
        <option value="work">Work</option> 
    </select>
    <textarea name="text" id="text" class="form-control"></textarea>
    
    <div class="center">
        <button type="submit" class="btn btn-lg btn-primary">Post</button>
    </div>
</form>
<div class="center">
    <a href="/home"><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
</div>
{% endblock %}